html {
    font-size: 62.5%;
}

body {
    font-family: $fontCabin;
    font-size: 2rem;
    overflow-x: hidden;

    @include mq-mobile-small() {
        font-size: 1.75rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: $fontOswald;
    text-transform: uppercase;
}

ul {
    padding: 0;
    li {
        list-style-type: none;
    }
}

a {
    color: $colourDark;
    text-decoration: none;
    transition: all 0.3s;
}

img {
    width: 100%;
    display: block;
}

p {
    line-height: 1.5;
}

button {
    cursor: pointer;
    background-color: $colourAccent;
    color: $colourDark;
    border-style: none;
    text-transform: uppercase;
    font-family: $fontOswald;
    padding: 15px 40px;
    transition: all 0.3s;

    &:hover,
    &:focus {
        background-color: $colourPrimaryLight;
        color: $colourAccent;
    }
}

form {
    @include flexBetween();
    flex-wrap: wrap;
    > * {
        border: none;
        &:not(button) {
            padding: 3rem;
            margin-bottom: 2%;
            font-family: $fontCabin;
        }
    }

    *::placeholder {
        opacity: 100%;
    }

    input {
        color: $colourDark;
        width: 49%;

        @include mq-tablet() {
            width: 100%;
        }
    }

    textarea {
        resize: none;
    }

    textarea,
    button {
        flex-basis: 100%;
    }

}

footer {
    background-color: $colourDark;
    color: $colourLight;
    text-align: center;
    p {
        margin: 0;
        padding: 10px 0;
    }
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;

    @include mq-desktop-small() {
        width: 90%;
    }

}

