header {
    background-color: $colourPrimaryLight;
    font-family: $fontOswald;
    text-transform: uppercase;
    height: 100vh;

    @include mq-mobile-XL() {
        padding-top: 5vh;
        height: 95vh;
    }

    nav {
        background-color: $colourPrimaryLight;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            margin: 1%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mq-mobile-XL() {
                flex-direction: column;
                position: fixed;
                top: -100%;
                left: 0;
                width: 100%;
                z-index: 20;
                background-color: rgba(0, 0, 0, 0.9);
                float: none;
                height: 0;
                margin: 0;
                padding: 25% 0;
                overflow: hidden;
                transition: all 0.3s;
            }

            li {
                margin: 0 30px;

                &:nth-child(3) {
                    @include mq-mobile-XL() {
                        display: none;
                    }
                }
            }

            a {
                @include mq-mobile-XL() {
                    font-size: 4rem;
                    color: white;
                }
            }

        }

        h2 {
            font-size: 4rem;
        }

        a {
            &:hover,
            &:focus {
                color: white;
                @include mq-mobile-XL() {
                    color: $colourAccent;
                }
            }
        }
        
        .current {
            color: white;
            @include mq-mobile-XL() {
                color: $colourAccent;
            }
        }

    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include mq-tablet-large() {
            align-items: stretch;
        }
    }
}

.headerContent {

    display: flex;
    justify-content: space-between;

    @include mq-tablet-large() {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .imgContainer {
        flex-basis: 42%;
        transform: translateY(10%);
        background-color: white;

        @include mq-tablet-large() {
            flex-basis: auto;
            width: 50%;
        }

        img {
            object-position: 20px 20px;
            padding: 0 20px 20px 0;
            width: calc(100% + 40px);
            height: calc(100% + 40px);
            margin: -20px -20px;
            transform: translate(-20px, -20px);
        }
    }

    .contentContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
        img {
            order: 1;
            width: 50%;
            height: 25%;
            transform: translate(-70%, -25%);
        }

        h1 {
            order: 0;
            font-size: 15rem;
            position: relative;

            &::after {
                content: '';
                background-image: url('../assets/circle-text.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 100%;
                position: absolute;
                top: -25%;
                left: 75%;
                z-index: 1;

            }

            @include mq-mobile-XL() {
                font-size: 12rem;
            }
        }
    }

}

button.hamburger {
    display: none;
    background-color: transparent;
    padding: 0;

    @include mq-mobile-XL() {
        color: $colourAccent;
        font-size: 4.5rem;
        background-color: transparent;
        border: none;
        display: block;
        position: fixed;
        top: 1%;
        right: 5%;
        z-index: 20;
        text-shadow: 1px 1px $colourBlack;
    }

}

.open {
    top: 0;
    height: 100%;
}