@mixin subPageHeader($imageUrl) {
    height: 60vh;
    background-image: url($imageUrl);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    h1 {
        font-size: 8rem;
        position: absolute;
        bottom: -4rem;
    }
}