@mixin mq-desktop-small() {
    @media (max-width: 1048px) {
        @content;
    }
}


@mixin mq-tablet() {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin mq-mobile-large() {
    @media (max-width: 450px) {
        @content;
    }
}

@mixin mq-mobile-small() {
    @media (max-width: 360px) {
        @content;
    }
}

@mixin subPageHeader($imageUrl) {
    height: 60vh;
    background-image: url($imageUrl);
    background-size: cover;
    background-repeat: no-repeat;
    
    @include mq-tablet() {
        background-position: center;
        height: 35vh;
    }

    .wrapper {
        position: relative;
    }

    h1 {
        font-size: 8rem;
        position: absolute;
        bottom: 4rem;
        left: 0;
    }
}