
// Font Stacks
$fontOswald: 'Oswald', sans-serif;
$fontCabin: 'Cabin', sans-serif;

// Colours
$colourBlack: #171717;
$colourOffWhite: #F6F6F6;
$colourAccent: #F38D8D;
$colourPrimary: #68B0C1;
$colourPrimaryDark: #227284;
$colourPrimaryLight: #B9DDE7;