html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Cabin", sans-serif;
  font-size: 2rem;
  overflow-x: hidden;
}

@media (max-width: 360px) {
  body {
    font-size: 1.75rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  color: #171717;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

img {
  width: 100%;
  display: block;
}

p {
  line-height: 1.5;
}

button {
  background-color: #F38D8D;
  color: #171717;
  border-style: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding: 15px 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button:hover, button:focus {
  background-color: #B9DDE7;
  color: #F38D8D;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1170px) {
  .wrapper {
    width: 90%;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form > * {
  border: none;
}

form > *:not(button) {
  padding: 3rem;
  margin-bottom: 2%;
  font-family: "Cabin", sans-serif;
}

form *::-webkit-input-placeholder {
  opacity: 100%;
}

form *:-ms-input-placeholder {
  opacity: 100%;
}

form *::-ms-input-placeholder {
  opacity: 100%;
}

form *::placeholder {
  opacity: 100%;
}

form input {
  color: #171717;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

@media (max-width: 768px) {
  form input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

form textarea {
  resize: none;
}

form textarea,
form button {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

footer {
  background-color: #171717;
  color: #F6F6F6;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 10px 0;
}

header {
  background-color: #B9DDE7;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  height: 100vh;
}

@media (max-width: 660px) {
  header {
    padding-top: 5vh;
    height: 95vh;
  }
}

header nav {
  background-color: #B9DDE7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  margin: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 660px) {
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.9);
    float: none;
    height: 0;
    margin: 0;
    padding: 25% 0;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

header nav ul li {
  margin: 0 30px;
}

@media (max-width: 660px) {
  header nav ul li:nth-child(3) {
    display: none;
  }
}

@media (max-width: 660px) {
  header nav ul a {
    font-size: 4rem;
    color: white;
  }
}

header nav h2 {
  font-size: 4rem;
}

header nav a:hover, header nav a:focus {
  color: white;
}

@media (max-width: 660px) {
  header nav a:hover, header nav a:focus {
    color: #F38D8D;
  }
}

header nav .current {
  color: white;
}

@media (max-width: 660px) {
  header nav .current {
    color: #F38D8D;
  }
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 1048px) {
  header .wrapper {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1048px) {
  .headerContent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.headerContent .imgContainer {
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  background-color: white;
}

@media (max-width: 1048px) {
  .headerContent .imgContainer {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 50%;
  }
}

@media (max-width: 450px) {
  .headerContent .imgContainer {
    width: 60%;
  }
}

.headerContent .imgContainer img {
  -o-object-position: 20px 20px;
     object-position: 20px 20px;
  padding: 0 20px 20px 0;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  margin: -20px -20px;
  -webkit-transform: translate(-20px, -20px);
          transform: translate(-20px, -20px);
}

.headerContent .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.headerContent .contentContainer img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 50%;
  height: 25%;
  -webkit-transform: translate(-70%, -25%);
          transform: translate(-70%, -25%);
}

.headerContent .contentContainer h1 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  font-size: 15rem;
  position: relative;
}

.headerContent .contentContainer h1::after {
  content: '';
  background-image: url("../assets/circle-text.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -25%;
  left: 75%;
  z-index: 1;
}

@media (max-width: 660px) {
  .headerContent .contentContainer h1 {
    font-size: 10rem;
  }
}

@media (max-width: 450px) {
  .headerContent .contentContainer h1 {
    font-size: 8rem;
  }
}

@media (max-width: 360px) {
  .headerContent .contentContainer h1 {
    font-size: 6rem;
  }
}

button.hamburger {
  display: none;
  background-color: transparent;
  padding: 0;
}

@media (max-width: 660px) {
  button.hamburger {
    color: #F38D8D;
    font-size: 4.5rem;
    background-color: transparent;
    border: none;
    display: block;
    position: fixed;
    top: 1%;
    right: 5%;
    z-index: 20;
    text-shadow: 1px 1px #171717;
  }
}

.open {
  top: 0;
  height: 100%;
}

h3 {
  font-size: 4rem;
}

h4,
h5 {
  font-size: 3rem;
}

.about {
  background-color: #F6F6F6;
  padding: 7.5% 0;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1048px) {
  .about .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about .contentContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1048px) {
  .about .contentContainer {
    text-align: center;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .about .contentContainer button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.contentContainer button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.midNav {
  background-color: #F6F6F6;
}

.midNav .wrapper {
  padding: 7.5% 0;
}

.midNav ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .midNav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.midNav ul li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.midNav ul li a {
  margin: 0 20px;
  background-color: #B9DDE7;
  border-radius: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 15px;
}

.midNav ul li a:hover, .midNav ul li a:focus {
  background-color: #F38D8D;
  color: #B9DDE7;
}

.midNav ul li .content {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin: 1% 0 7.5% 0;
}

.midNav i {
  font-size: 2.5rem;
}

.photos .card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1048px) {
  .photos .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.photos .card .imgContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 50%;
  background-color: #68B0C1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: scaleX(2) translate(10px, -20px);
          transform: scaleX(2) translate(10px, -20px);
}

@media (max-width: 1048px) {
  .photos .card .imgContainer {
    -webkit-transform: none;
            transform: none;
  }
}

.photos .card .imgContainer img {
  width: 100%;
  height: auto;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: scaleX(0.5) translate(-20px, -20px);
          transform: scaleX(0.5) translate(-20px, -20px);
}

@media (max-width: 1048px) {
  .photos .card .imgContainer img {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: -20px 20px #68B0C1;
            box-shadow: -20px 20px #68B0C1;
  }
}

.photos .card .contentContainer {
  padding: 5% 0 5% 5%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1048px) {
  .photos .card .contentContainer button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 768px) {
  .photos .card .contentContainer {
    margin: 5% 0;
  }
}

.photos .card:last-of-type .imgContainer {
  background-color: #B9DDE7;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scaleX(2) translate(10px, 40px);
          transform: scaleX(2) translate(10px, 40px);
}

@media (max-width: 1048px) {
  .photos .card:last-of-type .imgContainer {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-transform: none;
            transform: none;
  }
}

.photos .card:last-of-type .imgContainer img {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scaleX(0.5) translate(-20px, -20px);
          transform: scaleX(0.5) translate(-20px, -20px);
}

@media (max-width: 1048px) {
  .photos .card:last-of-type .imgContainer img {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: 20px 20px #B9DDE7;
            box-shadow: 20px 20px #B9DDE7;
  }
}

.photos .card:last-of-type .contentContainer {
  padding: 5% 5% 5% 0;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.photos .card:last-of-type .contentContainer button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 1048px) {
  .photos .card:last-of-type .contentContainer button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.journey {
  background-color: #F6F6F6;
}

.journey .card {
  padding: 10% 0 7.5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1048px) {
  .journey .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.journey .card .imgContainer {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

@media (max-width: 1048px) {
  .journey .card .imgContainer {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 50%;
  }
}

.journey .card .imgContainer img {
  -webkit-box-shadow: 20px 20px #227284;
          box-shadow: 20px 20px #227284;
}

.journey .card .contentContainer {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

@media (max-width: 1048px) {
  .journey .card .contentContainer {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-top: 5%;
    text-align: center;
  }
}

@media (max-width: 660px) {
  .journey .card .contentContainer {
    margin: 10% 0;
  }
}

.journey .card h5 {
  font-size: 4rem;
}

.gallery ul {
  padding: 7.5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.gallery ul .imgContainer {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
}

@media (max-width: 768px) {
  .gallery ul .imgContainer {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 75%;
    margin: 5% 0;
  }
}

header.blogHeader {
  height: 60vh;
  background-image: url("../assets/blog-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 660px) {
  header.blogHeader {
    background-position: center;
    height: 35vh;
  }
}

header.blogHeader .wrapper {
  position: relative;
}

header.blogHeader h1 {
  font-size: 8rem;
  position: absolute;
  bottom: 4rem;
  left: 0;
}

.blogMain {
  background-color: #F6F6F6;
}

.blogMain .wrapper {
  padding: 7.5% 0 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1048px) {
  .blogMain .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blogMain article {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-preferred-size: 67%;
      flex-basis: 67%;
}

.blogMain article > * {
  margin-bottom: 5%;
}

.blogMain article > *:not(:last-of-type) {
  border-bottom: 5px solid #227284;
}

.blogMain article .blogPost {
  background-color: white;
  padding: 5%;
}

.blogMain aside {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 1048px) {
  .blogMain aside {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .blogMain aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.blogMain aside > * {
  padding: 10%;
  margin-bottom: 5%;
  background-color: white;
}

@media (max-width: 1048px) {
  .blogMain aside > * {
    padding: 5%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.blogMain aside .contentContainer {
  margin-top: 10%;
}

.blogMain h3 {
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  .blogMain h3 {
    font-size: 3rem;
    text-align: center;
  }
}

.blogMain h4 {
  font-size: 2.5rem;
}

.blogMain a {
  color: #227284;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blogMain a:hover, .blogMain a:focus {
  color: #F38D8D;
}

@media (max-width: 1048px) {
  .blogMain .aboutCard {
    margin: 0 2.5% 0 0;
  }
}

@media (max-width: 768px) {
  .blogMain .aboutCard {
    margin: 0 0 2.5% 0;
    width: 75%;
  }
}

@media (max-width: 450px) {
  .blogMain .aboutCard {
    width: 100%;
  }
}

.blogMain .recentPosts ul {
  all: revert;
}

.blogMain .recentPosts ul li {
  all: revert;
  line-height: 1.5;
}

.blogMain .recentPosts a {
  font-weight: 400;
  color: #171717;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blogMain .recentPosts a:hover, .blogMain .recentPosts a:focus {
  color: #F38D8D;
}

@media (max-width: 1048px) {
  .blogMain .recentPosts {
    margin: 0 0 0 2.5%;
  }
}

@media (max-width: 768px) {
  .blogMain .recentPosts {
    margin: 2.5% 0 0 0;
    width: 75%;
  }
}

@media (max-width: 450px) {
  .blogMain .recentPosts {
    width: 100%;
  }
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments .comment {
  padding: 5%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .comments .comment {
    display: block;
  }
}

.comments .comment:not(:last-child) {
  margin-bottom: 5%;
}

.comments .comment p {
  margin: 0;
}

.comments .comment .imgContainer {
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%;
}

@media (max-width: 768px) {
  .comments .comment .imgContainer {
    margin: 0 5% 0 0;
    float: left;
  }
}

@media (max-width: 660px) {
  .comments .comment .imgContainer {
    width: 25%;
  }
}

.comments .comment .contentContainer {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
}

@media (max-width: 768px) {
  .comments .comment .contentContainer {
    font-size: 1.75rem;
  }
}

.commentForm {
  border-bottom: none;
}

header.contactHeader {
  height: 60vh;
  background-image: url("../assets/contact-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 660px) {
  header.contactHeader {
    background-position: center;
    height: 35vh;
  }
}

header.contactHeader .wrapper {
  position: relative;
}

header.contactHeader h1 {
  font-size: 8rem;
  position: absolute;
  bottom: 4rem;
  left: 0;
}

.contactMain {
  background-color: #F6F6F6;
}

.contactMain .wrapper {
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contactInfo {
  background-color: white;
  padding: 2.5%;
  margin-right: 1.5%;
}

.contactInfo ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactInfo li {
  margin-right: 40px;
}

.contactInfo a {
  font-size: 3rem;
  color: #227284;
}

.contactInfo a:hover, .contactInfo a:focus {
  color: #F38D8D;
}

.contactInfo p a {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  color: #171717;
}

.contactInfo p a:hover, .contactInfo p a:focus {
  color: #F38D8D;
}

.contactInfo p:not(:first-of-type) {
  margin: 0;
}

.contactInfo address p {
  margin: 0;
  font-style: normal;
}

.contactForm {
  margin-left: 1.5%;
}

@media (max-width: 1048px) {
  .contactForm form input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
